<!-- Site footer -->
<!--<footer class="footer">
  <p>&copy; Dozer and Shmitt 2017</p>
</footer> -->
</div> <!-- /container -->
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<!--<script type="text/javascript" src="/js/npm.js"></script>-->
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="js/upload.js"></script>
</body>
</html>
